* {
    margin : 0;
    padding: 0;
    burder: 1px solid red;
}   
 body {
    height: 100vh;
    width: 100vw;
    background-color: #276927b6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 60px auto;
    gap: 50px;
}

h1 {
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 
    -5px -5px 0 #ac0f0f;
}

h2 {
    font-size: 18px;
    color: rgba(245, 245, 245, 0.671);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 60px;
}

button { 
    width: 120px;
    height: 120px;
    background-color: #ac0f0f;
    border-radius: 10px;
    box-shadow: inset 10px 10px 20px #830808;
    font-size: 20px;
    font-weight: bolder;
    color: whitesmoke;
    border: none;
}

p {
    font-size: 25px;
    font-weight: bold;
}